<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="../highlight/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    <script src="../highlight/highlight.js"></script>
    <script src="../functions.js"></script>
    <script>hljs.highlightAll();</script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
    $("#header").load("../common/head.html"); 
    });
    </script> 
</head>
<body>
  <!--Add in the header-->
  <div id="header"></div>
<main style = margin-top:100px>
    <nav class="section-nav">
        <ol>
          <li><a href="#software">Software</a></li>
          <li><a href="#windows">Windows</a></li>
          <li><a href="#macOS">macOS</a></li>
          <li><a href="#linux">Linux</a></li>
        </ol>
      </nav>
    <div>
        <section id="software">
            <h2>Software</h2>
            <p>
                To use the programming language R, you need to have both the R software 
                downloaded, and a way to interact with that software. We will use the 
                integrated development environment (IDE) RStudio for this task. 
                To install the required software on your computer, please follow the
                 instructions according to your operating system. 
            </p>
        </section>
        <section id="windows">
            <h2>Windows</h2>
            <p>
                You will need to download R and RStudio separately.
            </p>
            <h3>R</h3>
            <p>
              First, follow the instructions to download R from the <a href="https://cran.r-project.org/bin/windows/base/"> CRAN website</a> for the most recent version. <strong>For Fall 2022, we will expect you to be using R-4.2.1</strong>
            </p>
            <p>
                Run the <code class="w3-codespan">.exe</code> file that was just 
                downloaded and follow the instructions on screen to install the d
                ownloaded software locally on your computer. 
            </p>
            <h3>RStudio</h3>
            <p>
                Go to the <a 
                href="https://www.rstudio.com/products/rstudio/download/#download">
                RStudio download page</a> and identify the version for your
                operating system
            </p>
            <p>
                Under Installers select RStudio Desktop 2022.02.3+492 
                (<b>Expected version for Fall 2022</b>) - Windows Vista/7/8/10 
            </p>
            <p>
                Follow the on-screen instructions to download the software and 
                        install it on your local machine 
            </p>
            <p>
                Once it’s installed, open RStudio to make sure it works and that 
                        you don’t get any error messages.
            </p>
        </section>
        <section id="macOS">
            <h2><b>macOS</b></h2>
            <p>
                You will need to download R & RStudio separtely. 
            </p>
            <h3>R</h3>
            <p>
                Download R from the <a
                href="http://cran.r-project.org/bin/macosx/">CRAN website</a>
            </p>
            <p>
                Select the <code class="w3-codespan">.pkg</code> file for the 
                latest R version
            </p>
            <p>
                Double click on the downloaded file to install R
            </p>
            <p>
                It is also a good idea to install 
                <a href="https://www.xquartz.org/">XQuartz</a> 
                (needed by some packages)
            </p>
            <h3>RStudio</h3>
            <p>
                Go to the <a 
                href="https://www.rstudio.com/products/rstudio/download/#download">
                RStudio download page</a>
            </p>
            <p>
                Under Installers select RStudio Desktop 2022.02.3+492 (<b>Expected 
                    version for Fall 2022</b>) - Mac OS X 10.6+ (64-bit)
            </p>
            <p>
                Double click the file to install RStudio
            </p>
            <p>
                Once it’s installed, open RStudio to make sure it works, and you 
                        don’t get any error messages
            </p>
        </section>
        <section id="linux">
            <h2><b>Linux</b></h2> 
            <p>
                Follow the instructions for your distribution from 
                <a href="https://cloud.r-project.org/bin/linux">CRAN</a> they 
                provide information to get the most recent version of R for common 
                distributions. For most distributions, you could use your package 
                manager (e.g., for Debian/Ubuntu run <code class="w3-codespan">sudo 
                    apt-get install r-base</code> and for Fedora <code 
                    class="w3-codespan">yum install R</code>, but we don’t recommend 
                    this approach as the versions provided by this are usually out 
                    of date. In any case, make sure you have at least R 4.1.1.
            </p>
            <p>
                Go to the <a 
                href="https://www.rstudio.com/products/rstudio/download/#download">
                RStudio download page</a>
            </p>
        </section>
    </div>
<!-- End page content -->
<hr>
<p style="font-size:10px;color:gray;text-align:center">
    <br>
    <br>
    The EEB R Manual is the work of researchers at the University of the Toronto
     and intended as a purely educational resource. It holds no official 
    association with the R Foundation. It should not be taken as an
     authority on R best practices. 
    <br>
    When using this resource, <bold>always</bold> default to instructions and 
    guidance provided by your instructor. 
    <br>
    This content is reviewed regularly for errors and to make improvements, if you see an error and want to help us make this better, see the Contact Page
</p>
</div>
</main>
</body>
</html>