<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="../highlight/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    <script src="../highlight/highlight.js"></script>
    <script src="../functions.js"></script>
    <script>hljs.highlightAll();</script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
    $("#header").load("../common/head.html"); 
    });
    </script> 
</head>
<body>
  <!--Add in the header-->
  <div id="header"></div>

<main style = margin-top:100px>
    <nav class="section-nav">
        <ol>
          <li><a href="#ts">Timeseries Plots</a>
            <ul>
              <li class=""><a href="#ts--code">Just the Code</a></li>
            </ul>
          </li>
          <li><a href="#box">Box Plots</a>
            <ul>
              <li class=""><a href="#box--code">Just the Code</a></li>
            </ul>
          </li>
        </ol>
      </nav>
    <div>
      <section id="">
        <h2>Plotting Change Through Time</h2>
        <p>
            When choosing to plot anything to do with time, the time is almost always displayed on the x-axis. This makes sense as we typically read plots as we read English language text - left to right. Thus, we will always plot time as increasing from left to right on our plots. By FAR the most common way to plot change through time is to plot it as a line plot, optionally with points added in. Less common in EEB-type data (but still useful) are box plots and bar plots.

        </p>
      </section>
      <section id="ts">
        <h2>Timseries Plots (Line Plots)</h2>
        <p>
            Line plots, also referred to as timeseries plots colloquially, are plots that have the focal variable of interest on the y-axis, and some time variable on the x-axis. To follow our <a href="./03-02-interative-plotting.html">iterative plotting method</a>, we'll start one of these plots and build up.
        </p>
        <p>
            For this, we'll use our example with data on temperature in Alaska from 1988 to present. See the full tutorial <a href="./03-04-plotting-multiple-dataframes.html">here</a>:
        </p>
      </section>
      <section id="ts--code">

            <!--begin.rcode, message=FALSE,warning=FALSE
            library(tidyverse)
            # add in an option to keep dplyr quiet
            options(dplyr.summarise.inform = FALSE)
            library(lterdatasampler)
            library(lubridate)
            library(ggthemes)

            df = lterdatasampler::arc_weather

            # make sub-groups for the dates
            df = df %>% 
            dplyr::rowwise() %>% 
            dplyr::mutate(
                month = lubridate::month(date),
                year = lubridate::year(date)
            )
            # make separate dataframe for monthly measurements
            df_monthly = df %>% 
            dplyr::select(year, month, mean_airtemp) %>% 
            dplyr::group_by(year, month) %>% 
            dplyr::summarize(
                month_airtemp = mean(mean_airtemp, na.rm = TRUE)
            ) %>% 
            # assume all days are the 15th of the month
            dplyr::mutate(
                day = 15
            ) %>% 
            # make single date
            dplyr::mutate(
                date = lubridate::make_date(year, month, day)
            )

            ggplot() + 
            # switched order - daily first 
            geom_point(data = df, mapping = aes(x = date, y = mean_airtemp,
                                                colour = "lightblue"), shape = 16,  
                                                alpha = 0.5) +
            # monthly second
            geom_line(data = df_monthly, mapping = aes(x = date, y = month_airtemp,
                                                        colour = "black")) +
            ggthemes::theme_base() +
            labs(x = "Date", y = "Monthly Air Temperature (C)") +
            guides(
                colour = guide_legend()
            ) +
            # add in colour scale
            scale_colour_identity(guide = "legend",
                                    name = "Measurement", # the title of the legend
                                    breaks = c("black", "lightblue"), # the colours
                                    labels = c("Monthly Mean", "Daily Mean") # legend labels
                                    )
            end.rcode-->
      </section>
      <section id="box">
        <p>
            Box plots are a helpful form of plot to show how data might change through time by summarizing the distribution of said data in some binned form. To use the above example regarding data on temperature, we could use a box plot to compare how the distribution of the daily temperature measurements change through the months. 
        </p>
        <p>
            As a reminder, here's how to interpret the various components of a boxplot:
        </p>
        <img alt="box plot interpretation. credit: Michael Galarnyk", src="../img/03-img/boxplot.jpg">
        <p>
            For this, we'll use our example with data on stream chemistry over time. See the full tutorial <a href="./03-03-facetting.html">here</a>
        </p>
      </section>
      <section id="box-code">
            <!--begin.rcode, warning=FALSE

            df <- lterdatasampler::luq_streamchem %>% 
            # remove columns we don't need
            dplyr::select(sample_date, na, k) %>% 
            tidyr::pivot_longer(
                # specify which columns to join together
                cols = c(na, k),
                # specify what the new name of the grouping variable will be
                names_to = "element"
            ) %>% 
            dplyr::mutate(
                year = lubridate::year(sample_date),
                month = lubridate::month(sample_date)
            )

            ggplot() + 
            geom_boxplot(data = df, mapping = aes(x = year, y = value,
                                                        fill = element)) + 
            labs(x = "Year", y = "Amount of Element (mg/L)") +
            ggthemes::theme_base() +
            facet_wrap(~element,
                        # I want this to be one column with two rows
                        ncol = 1,
                        scales = "free",
                        labeller = as_labeller(c(`k` = "Potassium (K)",
                                            `na` = "Sodium (Na)"))) +
                scale_fill_manual("Element", 
                                values = c("#90ee90", "#F8E473"),
                                labels = c("Potassium (K)", "Sodium (Na)"))
            end.rcode-->
      </section>
<!-- End page content -->
<hr>
<p style="font-size:10px;color:gray;text-align:center">
    <br>
    <br>
    The EEB R Manual is the work of researchers at the University of the Toronto
     and intended as a purely educational resource. It holds no official 
    association with the R Foundation. It should not be taken as an
     authority on R best practices. 
    <br>
    When using this resource, <bold>always</bold> default to instructions and 
    guidance provided by your instructor. 
    <br>
    This content is reviewed regularly for errors and to make improvements, if you see an error and want to help us make this better, see the Contact Page
</p>
</div>
</main>
</body>
</html>
<style type="text/css">
  .source, .output, .warning, .error, .message {
    padding: 0 1em;
    border:solid 1px #F7F7F7;
    width: calc(70% - 2em);
  }
</style>