<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="../highlight/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    <script src="../highlight/highlight.js"></script>
    <script src="../functions.js"></script>
    <script>hljs.highlightAll();</script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
    $("#header").load("../common/head.html"); 
    });
    </script> 
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
    </script>  
</head>
<body>
  <!--Add in the header-->
  <div id="header"></div>

<main style = margin-top:100px>
    <nav class="section-nav">
        <ol>
          <li><a href="#basic-plot">Basic Plots</a></li>
          <li><a href="#col-shape">Colour and Shape</a></li>
          <li><a href="#group">Plot Variables by Group</a></li>
          <li><a href="#standards">Editing Our Plot for Journal Standards</a></li>
        </ol>
      </nav>
    <div>
      <section id="">
        <h2>Iterative Plotting for Easy and Aesthetic Figures</h2>
        <p>
            <!--begin.rcode, warning=FALSE, echo=FALSE
            options(tidyverse.quiet = TRUE)
            end.rcode-->

           When making a plot, it's best to build your plot iteratively: make a version of the plot, observe the outcome, and then make changes or add an element and replot. This helps us catch mistakes as they occur (typos, colour problems, etc) and prevents small problems from creating big, difficult to diagnose problems in a long set of code.
            <br><br>
            For our example, let's use the example from the <a href="./03-01-intro-to-ggplot.html">Intro to <code>ggplot2</code></a> section, looking at salamanders and trout: 
            <br><br>
            <!--begin.rcode
            library(tidyverse)
            library(lterdatasampler)

            df <- lterdatasampler::and_vertebrates

            names(df)
            end.rcode-->

        </p>
        </section>
        <section id="basic-plot">
            <h2>Building a Basic Plot</h2>
            <p>
                Let's again plot a scatter plot of <code>length_1_mm</code> vs. <code>weight_g</code>. We'll start out with the absolute minimum number of arguments: 
                <br><br>
                <ol>
                    <li style="color:blueviolet; font-size:calc(12px + 0.7vw);">1. The call to <code>ggplot()</code></li>
                    <li style="color:blueviolet; font-size:calc(12px + 0.7vw);">2. The mappings (i.e. what variables we want on the x- and y-axis)</code></li>
                    <li style="color:blueviolet; font-size:calc(12px + 0.7vw);">3. The `geom_` function denoting what *type* of plot we're going for</code></li>
                </ol>
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df, mapping = aes(x = length_1_mm, y = weight_g))
                end.rcode-->
            
            <p>
                Ok so we see our plot! Perfect. So the first thing to do, before we make any stylistic additions, is to deal with the components of the plot that are <strong>must-haves</strong> to have a legible, complete plot. First step is the axis labels. <strong>Also note that units ALWAYS go on axis labels.</strong> So to iteratively work up our plot, we'll add that one component on, by using the new function <code>labs()</code>:
            </p>
                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df, mapping = aes(x = length_1_mm, y = weight_g)) +
                labs(x = "Length (mm)", y = "Weight (g)") 
                end.rcode-->
                <div class="text-box"> 
                    <h4>Climate Change Sentinels</h4> 
                    <img src="../img/03-img/salamander.jpg" class="img-text-box"> 
                    <p class="p-text-box">Fish and Amphibians such as the ones in our example dataset, are often among the first taxa to be affected by distrbances to their ecosystems. While those in our example dataset are from a long-term study site in Oregon, USA, there is in fact a long-term ecological research program on amphibeans and other vertebrates in Algonquin Park, ON, run in part by EEB professor Dr. Njal Rollinson</p>
                    <img src="../img/03-img/njal.jpg" class="img-text-box">
                    <p class="p-text-box">
                        The research performed in Algonquin park and at U of T, specifically tackles tough questions like the adaptive significance of ecotherm biology, and the effects anthropogenic change has on these organisms. 
                    </p>
                </div>
                <p>

                OK good. Now, this is more aesthetic than anything, but we might want to change the appearance of this plot away from this ugly grey background and grid lines. This is a more personal decision regarding what exactly you want your plot to look like, along with the fact that different fields have differnet conventions regarding how they want their plot to look. In biology, we almost always don't want a grey background, nor horizonal grid lines. There are lots of <code>themes</code> available in the <code>ggplot2</code> package to choose from that will help us make a plot that aligns with our goals. For example, we could use the <code>theme_classic()</code> like so: 
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df, mapping = aes(x = length_1_mm, y = weight_g)) +
                labs(x = "Length (mm)", y = "Weight (g)") +
                theme_classic()
                end.rcode-->
                
            <p>
                But I <em>personally</em> prefer a different theme that comes in the <code>ggthemes</code> package, which we can install now:
            </p>

                <!--begin.rcode, warning=FALSE
                #install.packages("ggthemes")
                library(ggthemes)
                end.rcode-->
            <p>

                Now, let's use the <code>theme_base()</code> option, which will give us a very classic look and feel to the plot: 
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df, mapping = aes(x = length_1_mm, y = weight_g)) +
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base()
                end.rcode-->
            <p>

                Perfect! You'll also notice the text sizes are now larger which is preferable for reading on a screen or in a report. 
            </p>
        </section>
        <section id="col-shape">
            <h2>Adding Colour & Shape</h2>
            <p>
                Let's now add a colour to our points and change the shape we're using as well. 
                <br><br>
                <strong>Note:</strong> Arguments like this go in the <code>aes()</code> section, but there is a difference between simply assigning a colour and using colour to group points. To start, we'll just make the colour <em>red</em>, change the shape to my personal favourite, and up the size just a smidge: 
                <br><br>

                <!--begin.rcode, warning=FALSE

                ggplot() +
                geom_point(data = df, mapping = aes(x = length_1_mm, y = weight_g),
                            # here's where we'll add our colour etc
                            colour = "red", shape = 21, size = 2) +
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base()
                end.rcode-->
                <br><br>

                So this is interesting! We see that somehow we've made our points hollow on the inside. Well, that has to do with the shape we picked. There are lots of options for shapes we <em>could</em> use, and we can see all our options in this handy graphic here: 
                <br><br>

                <img src="../img/03-img/r-symbols.png">
                <br><br>

                So notice we specified point # 21. This point has a dark outter circle and a fill colour in the middle. <strong>When using a point option with an outter boundary and an inner fill, the argument <code>colour</code> refers to the outter boundary line, and the argument <code>fill</code> refers to the colour filling inside</strong>. Let's see how this works by changing <code>colour = "black"</code> and <code>fill = "red"</code>: 
                <br><br>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df, mapping = aes(x = length_1_mm, y = weight_g),
                            # here's where we'll add our colour etc
                            colour = "black", fill = "red", shape = 21, size = 2) +
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base()
                end.rcode-->
                <br><br>

                Okay, so this looks like maybe more along the lines of what we were expecting! One more thing though is that some spots on the plot have a high density of points. To better identify those high density areas, let's make our points slightly transparent, with the <code>alpha</code> commmand: 
                <br><br>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df, mapping = aes(x = length_1_mm, 
                                                    y = weight_g),
                            # here's where we'll add our colour etc
                            colour = "black", fill = "red", shape = 21, alpha = 0.2, size = 2)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base()
                end.rcode-->
                <br><br>


                And now we can see where there really are many points. 
            </p>
        </section>
        <section id="group">
            <h2>Variables by Group</h2>
            <p>
                One of the most useful things to be able to do is group our points by either shape, fill, colour, or even size to show some difference betwen them. For example, in these data, we can see two very clearly different trends. 
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df, mapping = aes(x = length_1_mm, 
                                                    y = weight_g, fill = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.2, size = 2)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base()
                end.rcode-->
            <p>

                So we can see our two main point colours plotted out nicely here. Although, there should be four colours and we can't really see them. Let's change our <code>alpha</code> to fix that: 
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df, mapping = aes(x = length_1_mm, 
                                                    y = weight_g, fill = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.4, size = 2)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base()
                end.rcode-->
            <p>

                That's better. Looking at this plot, this brings up a few common tasks we might want to do from here. First of all, it's clear from this plot that the vast majority of these points are only from two species. We can see how the samples in our dataframe fall out with the simple <code>table()</code> function: 
            </p>

                <!--begin.rcode, warning=FALSE
                table(df$species)
                end.rcode-->
            <p>

                So there are only 15 of the Cascade salamanders, and we know from our plot, at least a few NAs. Now the following decisions depend HIGHLY on what message one is trying to communicate with the plot, but we could imagine a scenario wherein perhaps it's actually important to have the Cascade salamander points be visible. But, it's clear from our plot, we may first want to get rid of NA's at least fo this plot. So let's do that via a <code>filter()</code> <a href="../working-with-data/02-02-filtering-subsetting.html">Learn more on that here</a>
            </p>

                <!--begin.rcode, warning=FALSE
                df_filtered <- df %>% 
                dplyr::filter(!is.na(species))
                head(df_filtered)
                end.rcode-->
            <p>

                Okay, let's go ahead and make our plot again: 
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df_filtered, # using the new dataframe
                            mapping = aes(x = length_1_mm, y = weight_g, fill = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.4, size = 2)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base()
                end.rcode-->
            <p>

                This looks better. Now perhaps one way we could make the Cascade salamander points stand out is by making them significantly larger in size. We can do that my scaling our size manually according to the levels of our grouping variable. <strong>Note, that scaling, whether manually or otherwise, can be done for all grouping aesthetics such as fill, colour, alpha, etc. Further documentation on this topic can be found on the <a href="https://ggplot2.tidyverse.org/reference/scale_manual.html">ggplot2 website</a></strong>
                <br><br>

                Since we see that the Cascade Torrent Salmander is first in our list of the legend, that means we will need to make the larger size first up in our <code>values</code> argument:
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df_filtered, # using the new dataframe
                            mapping = aes(x = length_1_mm, y = weight_g, 
                                        fill = species, size = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.4)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base() +
                # one last step
                scale_size_manual(values = c(4, 2, 2))
                end.rcode-->
            <p>

                Hmm. We can vaguely see in the bottom corner the points we want, but they're hard to see. Why is this? Well, the problem here is that <code>ggplot()</code> will automatically plot data in the order they are passed. we can see by a quick <code>head()</code> call ...
            </p>

                <!--begin.rcode, warning=FALSE
                head(df_filtered)
                end.rcode-->
            <p>

                That the first species in the list is Cutthroat trout, and with a quick <code>tail()</code> call (<code>tail()</code> returns the last six rows instead of the first six) ...
            </p>

                <!--begin.rcode, warning=FALSE
                tail(df_filtered)
                end.rcode-->
            <p>

                ...we can see that the Coastal salamander is the last. That means that the Coastal salamander will be plotted after (i.e "on top of") our focal larger points. Luckily this is an easy fix by simply rearranging the dataframe such that the focal species is the <em>last</em> one to be plotted. This can be accomplished with <code>dplyr::arrange()</code>. We'll pass first the dataframe we're working with, then the column we want to sort by. To check that this will work, let's print the calll to <code>tail()</code> from the <code>dplyr::arrange()</code> version of our dataframe. 
            </p>

                <!--begin.rcode, warning=FALSE
                tail(dplyr::arrange(df_filtered, species))
                end.rcode-->
            <p>

                That doesn't work! That's because <code>dplyr::arrange()</code> will automatically default to sortin alphabetically. Luckily we can convert this column into factor to change the order in a custom way. Lets do so like this (and again check with <code>tail()</code>): 
            </p>

                <!--begin.rcode, warning=FALSE
                # wrap our pipe arrange() with tail
                tail(
                df_filtered %>% 
                dplyr::arrange(factor(species, 
                                        levels = c("Cutthroat trout", 
                                                "Coastal giant salamander", 
                                                "Cascade torrent salamander")))
                )         
                end.rcode-->
            <p>

                And we see our friend the Cascade salamander is at the end. Now we don't necessarily want to reassign our dataframe to take this rearranged form, so we can simply wrap our call to the dataframe <code>df_filtered</code> in our <code>dplyr::arrange()</code> function and see if that works: 
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = df_filtered %>% 
                            dplyr::arrange(factor(species, 
                                        levels = c("Cutthroat trout", 
                                                "Coastal giant salamander", 
                                                "Cascade torrent salamander"))),
                            mapping = aes(x = length_1_mm, y = weight_g, 
                                        fill = species, size = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.4)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base() +
                scale_size_manual(values = c(4, 2, 2))
                end.rcode-->
            <p>


                We can now see our Cascade salamander data points! While we could stop here, there are a few other things we can do. We can capitalize the legend easily enough, by simply adding it as the first argument in the <code>scale_size_manual()</code> function. We put it here since the <code>size</code> parameter is what's being displayed in our plot: 
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = (df_filtered %>% 
                            dplyr::arrange(factor(species, 
                                        levels = c("Cutthroat trout", 
                                                "Coastal giant salamander", 
                                                "Cascade torrent salamander")))),
                            mapping = aes(x = length_1_mm, y = weight_g, 
                                        fill = species, size = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.4)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base() +
                scale_size_manual("Species", values = c(4, 2, 2))
                end.rcode-->
            <p>

                Ahh! Now we've run into a new problem. We have two legends! This is annoying. However, we can fix this, but first, let's choose different colours, these are not my favourite. We can do that (in this case) with <code>scale_fill_manual()</code>. We use the <code>fill</code> because the colour for all the points is <em>black</em> since it refers to the outer border of the points. 
            </p>
            <p>
                <strong>SIDE NOTE: Note that when making figures, when possible, choose colours that if printed in black and white are still differentiable, and that also are distinguishable for colour blind people.</strong>
            </p>
            <p>

                Also, note that often the easiest way to add in specific colours (if you're only using a handful of specific ones like we are here) is to pass the RGB code for that colour. If you have never heard of RGB colours, essentially it's a code of alphanumeric characters that form a specific colour on the colourwheel. Learn more on <a href="https://en.wikipedia.org/wiki/RGB_color_model">RGB colours here</a>().
            </p>

                <!--begin.rcode, warning=FALSE
                ggplot() +
                geom_point(data = (df_filtered %>% 
                            dplyr::arrange(factor(species, 
                                        levels = c("Cutthroat trout", 
                                                "Coastal giant salamander", 
                                                "Cascade torrent salamander")))),
                            mapping = aes(x = length_1_mm, y = weight_g, 
                                        fill = species, size = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.8)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base() +
                scale_size_manual("Species", values = c(4, 2, 2)) +
                scale_fill_manual("Species", values = c("#42d4f4", "#f032e6", "#ffe119"))
                end.rcode-->
            <p>

                While these colours are harsh, they're easy to see. We could choose others if we want to be more aesthetic :) Also, we notice that our legend problem is gone! Why? Well, what created the problem before was having <em>technically</em> two different legends being asked for from our <code>aes()</code> arguments - size & fill. However, by manually providing values for both and then giving them the <em>same</em> legend title, we fixed up the problem. <em>On your own, try adding a different title for one of them and see what happens!</em>. 
            </p>
        </section>
        <section id="standards">
            <h3>Conforming Out Plot to Discipline/Journal Standards</h3>
            <p>
                Similar to citation styles, there are often discipline-specific protocols to follow when making plots. While the plot we've made here may look perfectly fine for our use in a class presentation or for an informal report, it's important to consider these additional requirements when making a figure in a more formal context. As always, usually we are not the ones who get to make the calls on what these standards should be, so default to whatever your instructor/supervisor/discipline standard/journal submission guidelines outline as what they want. 
            </p>
            <p>
                Let's use an example to show how we might go about this. Here are the <a href="https://www.esa.org/wp-content/uploads/2022/05/ESA-Manuscript-Preparation-Guide.pdf">journal format guidelines on figures</a> for the journal <em>Ecology</em>. They will give a general idea for what type of guidelines you may want to follow.
            </p>
            <p>
                Two common things that are asked are to move the legend and/or change the allignment of the x-axis. All specific changes like this that fall outside of basic changes are usually done in the <code>theme()</code> call of the plot. If you're looking for how to make small edits to a ggplot, you almost ALWAYS will need to make use of the theme. That reference is here in the <a href="https://ggplot2.tidyverse.org/reference/theme.html">ggplot2 documentation</a>. 
            </p>
            <p>
                To change out legend position we'll use the theme argument <code>legend.position</code> and for the axis text we'll use the argument <code>axis.text.x</code>. So let's do that one at a time (in our theme of working iteratively!), starting with our previously existing plot, we'll add a call to theme, and then make out call to the <code>legend.position</code>. Now we want to make sure that our legend does <strong>not</strong> cover any of the actual data being plotted, so we will simply have to try and find a place to put it, and if we can't, content ourselves with it being outside of the plot box. The positioning of <code>legend.position</code> happens in two arguments, the first position being for the x-location, and the second for the y-location, with both of them representing proportions of the axis. Therefore, a value of <code>c(0.1, 0.1)</code> would put the legend in the bottom left corner. Let's try the bottom right corner. 
            </p>
                <!--begin.rcode, warning=FALSE, eval=TRUE
                ggplot() +
                geom_point(data = (df_filtered %>% 
                            dplyr::arrange(factor(species, 
                                        levels = c("Cutthroat trout", 
                                                "Coastal giant salamander", 
                                                "Cascade torrent salamander")))),
                            mapping = aes(x = length_1_mm, y = weight_g, 
                                        fill = species, size = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.8)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base() +
                scale_size_manual("Species", values = c(4, 2, 2)) +
                scale_fill_manual("Species", values = c("#42d4f4", "#f032e6", "#ffe119")) + 
                theme(
                    legend.position = c(0.8, 0.1)
                )
                end.rcode-->
            <p>
                That will work well enough for now! Let's move on to changing the orientation of the x-axis. This is most often required if you're plotting a time-series with years on the x-axis, as they will take up quite a bit of space if all displayed, so are rotated 90 degrees so they don't overlap. We don't have that here, however, we'll still rotate ours 90 degrees here for practice. 
            </p>
                <!--begin.rcode, warning=FALSE, eval=TRUE
                ggplot() +
                geom_point(data = (df_filtered %>% 
                               dplyr::arrange(factor(species, 
                                        levels = c("Cutthroat trout", 
                                                "Coastal giant salamander", 
                                                "Cascade torrent salamander")))),
                            mapping = aes(x = length_1_mm, y = weight_g, 
                                        fill = species, size = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.8)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base() +
                scale_size_manual("Species", values = c(4, 2, 2)) +
                scale_fill_manual("Species", values = c("#42d4f4", "#f032e6", "#ffe119")) + 
                theme(
                    legend.position = c(0.8, 0.1),
                    axis.text.x = element_text(angle = 90)
                )
                end.rcode--> 
            <p>
                Okay, that worked, but we can now see that the numbers don't <em>quite</em> line up with the axis ticks. What should we do about this? Well, we can simply adjust them vertically (vertically with respect to the number, not the plot itself) so they scoot a bit to the left from our perspective. For whatever reason, a vertical adjustment (<code>vjust()</code>) of 0.5 seems to do the trick nearly everytime for this task.
            </p>    
                <!--begin.rcode, warning=FALSE, eval=TRUE
                ggplot() +
                geom_point(data = (df_filtered %>% 
                            dplyr::arrange(factor(species, 
                                        levels = c("Cutthroat trout", 
                                                "Coastal giant salamander", 
                                                "Cascade torrent salamander")))),
                            mapping = aes(x = length_1_mm, y = weight_g, 
                                        fill = species, size = species),
                            # here's where we'll add our colour etc
                            colour = "black", shape = 21, alpha = 0.8)+
                labs(x = "Length (mm)", y = "Weight (g)") +
                # note here we use `ggthemes::` to indicate which package we're using
                ggthemes::theme_base() +
                scale_size_manual("Species", values = c(4, 2, 2)) +
                scale_fill_manual("Species", values = c("#42d4f4", "#f032e6", "#ffe119")) + 
                theme(
                    legend.position = c(0.8, 0.1),
                    axis.text.x = element_text(angle = 90, vjust = 0.5)
                )
                end.rcode-->  
            <p>
                And voila! 
            </p>      
            <p>

                For this plot, we are pretty much done! This looks good to go. This section has hopefully showed you how to iteratively add components to your plot to troubleshoot throughout and end up with a nice plot quickly. At this point, we can save our plot if we want to (and if it has been assigned to a variable). <a href="../working-with-data/02-01-reading-writing.html">See info about saving plots here</a>.
            </p>
        </section>
<!-- End page content -->
<hr>
<p style="font-size:10px;color:gray;text-align:center">
    <br>
    <br>
    The EEB R Manual is the work of researchers at the University of the Toronto
     and intended as a purely educational resource. It holds no official 
    association with the R Foundation. It should not be taken as an
     authority on R best practices. 
    <br>
    When using this resource, <strong>always</strong> default to instructions and 
    guidance provided by your instructor. 
    <br>
    This content is reviewed regularly for errors and to make improvements, if you see an error and want to help us make this better, see the Contact Page
</p>
</div>
</main>
</body>
</html>
