<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../css/stylesheet.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet"
      href="../highlight/styles/default.min.css">
<script src="../highlight/highlight.js"></script>
<script src="../functions.js"></script>
<script>hljs.highlightAll();</script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
</head>
<body class="w3-round-large">

<!-- Top menu -->
<div class="w3-top">
    <div class="w3-navy w3-xlarge" 
    style="max-width:auto;margin:auto;border:1px w3-gray"
    border:1px>
      <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰ Menu</div>
      <div class="w3-right w3-padding-16" style="padding-right:10px">EEB </div>
      <div class="w3-center w3-padding-16">The R Manual</div>
    </div>
  </div>

<main style = margin-top:100px>
    <nav class="section-nav">
        <ol>
          <li><a href="#factors">Intro to Factors</a></li>
          <li><a href="#relevel">Re-leveling & Re-ordering</a></li>
          <li><a href="#recode">Re-coding</a></li>
          <li><a href="#relevel-pos">Re-leveling by Position</a></li>
          <li><a href="#relevel-func">Re-leveling by Function</a></li>
        </ol>
      </nav>
    <div>
    <section id="factors">
        <h2>Introduction to Factors</h2>
        <!--begin.rcode echo=FALSE
        options(tidyverse.quiet = TRUE)
        end.rcode-->
        <p>
            Factors are an important but frustrating special data type in R. They can be thought of as "categorical" variables, in the sense that they can only take on a limited number of values. R uses a vector of integer values to store a factor, with a corresponding set of character values that are displayed while using the factor.
            <br><br>
            They are most commonly used to group numerical variables, and therefore commonly come into play when working with regression-related topics that require either categorical fixed effects or a random effect. An example might be the site at which some data were collected. In a study where there are only six sites, it might be the case that we need to use a <em>random effect</em> to control for variation between sites. In that scenario, it would be helpful to treat the variable <strong>Site</strong> as a factor in R. 
            <br><br>
            We can make factors easily from any other type of variable. Take the following example dataset with three variables, one each of numeric, logical, and character types. 
            <br><br>
            <!--begin.rcode
            df <- data.frame(
            num_ex = sample(c(1,2,3,4), replace = TRUE, 50),
            log_ex = sample(c(TRUE, FALSE), replace = TRUE, 50),
            chr_ex = sample(c("hehe", "haha"), replace = TRUE, 50)
            )
            str(df)
            end.rcode-->
            <br><br>
            We can make each of these into factors. <strong>Note</strong> that when working with factors in the context of columns in a dataframe (via the Tidyverse), it is most effective to make new columns replacing the old column with the <code>mutate()</code> function <a href="./02-05-new-columns.html">See section on making new columns</a>. 
            <br><br>
            We'll mutate each of these columns into factors:
            <br><br>
            <!--begin.rcode
            library(tidyverse)

            df_fac <- df %>% 
            dplyr::mutate(
                num_ex = as.factor(num_ex),
                log_ex = as.factor(log_ex),
                chr_ex = as.factor(chr_ex)
            )
            str(df_fac)
            end.rcode-->
            <br><br>
            We can now see we only have columns that have the type <code>factor</code>. If we wanted to keep a version of the column that holds its original type, we could make new columns, as such: 
            <br><br>
            <!--begin.rcode
            df_both <- df %>% 
            dplyr::mutate(
                num_ex_fac = as.factor(num_ex),
                log_ex_fac = as.factor(log_ex),
                chr_ex_fac = as.factor(chr_ex)
            )
            str(df_both)
            end.rcode-->
            <br><br>
            There are now 6 columns in our dataframe as we wished. 
        </p>
    </section>
    <section id="relevel">
        <h3>Re-ordering/Re-leveling Factors</h3>
        <p>
            When working with factors, we often find ourselves needing to "re-level" these variables. Since the order of factors matters, and there are often specific reasons we may want to re-name each occurence of one or more level in the factor, re-leveling is common. 
            <br><br>
            If we have a variable that takes the form of a factor, we can change the order of that variable relatively easily. This is useful if we are, for example, plotting the factor and want the x-axis of our plot to appear in alphabetical order. Here is an example:
            <br><br>
            Say we have a dataframe: 
            <br>
            <!--begin.rcode
            group <- sample(c("First", "Second", "Third", "Fourth"), 500, replace = TRUE)
            vals <- rnorm(500, mean = 10, sd = 2)
            df <- data.frame(group = as.factor(group), vals)
            end.rcode-->
            <br>
            We can look at the levels of our factor (the <code>group</code> variable) with the function <code>levels()</code> from base R:
            <br>
            <!--begin.rcode
            levels(df$group)
            end.rcode-->
            <br>
            We can see here that the order is not in numerically logical order. Does that matter? Well if we plot those data, we can see it looks like this: 
            <br>
            <!--begin.rcode
            library(ggthemes)
            ggplot(data = df) +
            geom_violin(aes(x = group, y = vals, fill = group)) +
            theme_base() +
            labs(x = "Order of Sample", y = "Data Values") +
            scale_fill_manual("Group", values = c("#332288", "#88CCEE",
                                                    "#44AA99", "#117733"))
            end.rcode-->
            <br>
            Now this is a nice plot, but it doesn't really make sense that on the x-axis, the order doesn't correspond to a logical numeric order. This is easily remedied with the <code>forcats</code> package from the Tidyverse. We can <em>re-order</em>, or in R-speak <em>re-level</em> the factor, and then R will know what order we want when we use it for any further plotting or other activities. 
            <br>
            <!--begin.rcode
            library(forcats)
            df$group <- forcats::fct_relevel(
            df$group, levels = c("First", "Second", "Third", "Fourth")
            )
            # now we can use the base R function `levels()` to check if the order is what
            # we want it to be
            levels(df$group)

            end.rcode-->
            <br>
            And we can see that the order is what we want. So that if we were to make the same plot again...
            <br>
            <!--begin.rcode
            ggplot(data = df) +
            geom_violin(aes(x = group, y = vals, fill = group)) +
            theme_base() +
            labs(x = "Order of Sample", y = "Data Values") +
            scale_fill_manual("Group", values = c("#332288", "#88CCEE",
                                                    "#44AA99", "#117733"))
            end.rcode-->
            <br>
            The x-axis and the legend are now in a logical numeric order. 
        </p>
    </section>
    <section id="recode">
        <p>
            Another common operation is deciding that we actually don't want a level of our factor to read the same way anymore, that is we want to replace it with something else. We may have a dataframe, with a factor column called <code>group</code>:
            <br>
            <!--begin.rcode
            group <- factor(sample(c("4", "5", "Six", "7"), size = 500, replace = TRUE))
            vals <- rnorm(500, mean = 2, sd = 2.5)
            df <- data.frame(group, vals)
            # let's look at the levels of our `group` column
            levels(df$group)
            end.rcode-->
            We can see that for some reason here we have the "6" replaced by the written out version of the word. This will make the order not logical, and may cause problems if for some reason we wanted this variable to be numeric at some point (<strong>Remember, you can make a character value into a numeric value</strong>). 
            <br><br>
            To repalce this value in our column, we can use the <code>recode()</code> function from <code>dplyr</code>. It is most consistent to do this within a <code>mutate()</code>. 
            <br>
            <!--begin.rcode
            df <- df %>% 
            dplyr::mutate(
                group = recode(
                # first argument is the data object
                group, 
                # next argument is the level we want to replace
                "Six" = "6")
            )
            end.rcode-->
            <br>
            We can check if it worked with:
            <br>
            <!--begin.rcode
            levels(df$group)
            end.rcode-->
            <br>
            So this worked! However the order is still off because these are characters, so R can't tell that they're numbers that can be ordered. We could reorder the factor with our approach we took above:
            <br>
            <!--begin.rcode
            df <- df %>% 
            dplyr::mutate(
                group = forcats::fct_relevel(group, c("4", "5", "6", "7"))
            )
            levels(df$group)
            end.rcode-->
            <br>
            The order is now correct. 
        </p>
    </section>
    <section id="relevel-pos">
        <h3>Re-leveling According to a Position</h3>
        <p>
            From here, we can imagine a scenario where we want to put a specific level in a particular position in the list. For example, let's say we have a new variable, <code>group2</code>, with values as follows:
            <br>
            <!--begin.rcode
            df$group2 <- factor(sample(c("first", "second", "last"), size = 500, 
                                replace = TRUE))

            # show the levels
            levels(df$group2)
            end.rcode-->
            <br>
            We may want the "last" level to be last in the order. We can do that with <code>fct_relevel</code> and the <code>after =</code> argument as follows:
            <br>
            <!--begin.rcode
            df <- df %>% 
            dplyr::mutate(
                # specifying which factor level we want ("last") and the position 
                # (`after = `) will determine where the factor gets put. `after = Inf` puts
                # that level at the end
                group2 = forcats::fct_relevel(group2, "last", after = Inf)
            )

            # double check
            levels(df$group2)
            end.rcode-->
            <br>
            And this gives us the expected result. 
        </p>
    </section>
    <section id="relevel-func">
        <h3>Re-leveling According to a Function</h3>
        <p style="text-align: center; font-size:150%; color:crimson">
            Content coming soon!!
        </p>
    </section>
<!-- End page content -->
<hr>
<p style="font-size:10px;color:gray;text-align:center">
    <br>
    <br>
    The EEB R Manual is the work of researchers at the University of the Toronto
     and intended as a purely educational resource. It holds no official 
    association with the R Foundation. It should not be taken as an
     authority on R best practices. 
    <br>
    When using this resource, <bold>always</bold> default to instructions and 
    guidance provided by your instructor. 
    <br>
    This content is reviewed regularly for errors and to make improvements, if you see an error and want to help us make this better, see the Contact Page
</p>
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>
</main>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" 
style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button" style="color:blue;">Close Menu</a>
  <ol>
    <li><a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a></li>
    <li><a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">Contact</a></li>
    <li><a href="../00-landingpage.html" onclick="w3_close()" 
        class="w3-bar-item w3-button" 
        style="color:black;font-size:calc(16px + 0.7vw);">Getting Started</a>
    <ol>
        <li><a href="../00-start/00-01-downloads.html" onclick="w3_close()" 
            class="w3-bar-item w3-button" 
            style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
            Downloads</a>
        </li>
        <li><a href="../00-start/00-02-navigating-rstudio.html" onclick="w3_close()" 
            class="w3-bar-item w3-button" 
            style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
            Navigating RStudio</a>
        </li>
        <li><a href="../00-start/00-03-the-file-ecosystem.html" onclick="w3_close()" 
            class="w3-bar-item w3-button" 
            style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
            The File Ecosystem</a>
        </li>
    </ol>
    </li>
    <li><a href="../01-landingpage.html" onclick="w3_close()" 
        class="w3-bar-item w3-button" 
        style="color:black;font-size:calc(16px + 0.7vw);">Basic R</a>
        <ol>
            <li><a href="../01-basicr/01-01-coding-basics.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Coding Basics</a>
            </li>
            <li><a href="../01-basicr/01-02-data-types.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Data Types</a>
            </li>
            <li><a href="../01-basicr/01-03-data-structures.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Data Structures</a>
            </li>
            <li><a href="../01-basicr/01-04-indexing.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Indexing</a>
            </li>
            <li><a href="../01-basicr/01-05-packages.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Packages</a>
            </li>
            <li><a href="../01-basicr/01-06-workflow.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Workflow</a>
            </li>
        </ol>
    </li>
    <li><a href="../02-landingpage.html" onclick="w3_close()" 
        class="w3-bar-item w3-button" 
        style="color:black;font-size:calc(16px + 0.7vw);">Working With Data</a>
        <ol>
            <li><a href="../02-data/02-01-reading-writing.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Reading &amp; Writing Files</a>
            </li>
            <li><a href="../02-data/02-02-filtering-subsetting.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Filtering &amp; Subsetting</a>
            </li>
            <li><a href="../02-data/02-03-selecting-columns.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Selecting Columns</a>
            </li>
            <li><a href="../02-data/02-04-grouping-summarizing.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Grouping &amp; Summarizing</a>
            </li>
            <li><a href="../02-data/02-05-new-columns.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Ceating New Columns</a>
            </li>
            <li><a href="../02-data/02-06-factors.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Factor Data</a>
            </li>
            <li><a href="../02-data/02-07-renaming.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Renaming Columns</a>
            </li>
            <li><a href="../02-data/02-08-dates.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Date &amp; Time Data</a>
            </li>
            <li><a href="../02-data/02-09-reshaping.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Reshaping DataFrames</a>
            </li>
            <li><a href="../02-data/02-10-cleaning-process.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Data Cleaning Process</a>
            </li>
            <li><a href="../02-data/02-11-relational-data.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Relational DataFrames</a>
            </li>
        </ol>
    </li>
    <li><a href="../03-landingpage.html" onclick="w3_close()" 
        class="w3-bar-item w3-button" 
        style="color:black;font-size:calc(16px + 0.7vw);">Plotting</a>
        <ol>
            <li><a href="../03-plot/03-00-basics-of-plotting.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Basics of Plotting</a>
            </li>
            <li><a href="../03-plot/03-01-intro-to-ggplot.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Introduction to <code>ggplot2</code></a>
            </li>
            <li><a href="../03-plot/03-02-interative-plotting.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Interative Plotting</a>
            </li>
            <li><a href="../03-plot/03-03-facetting.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Facetting Plot Panels</a>
            </li>
            <li><a href="../03-plot/03-04-plotting-multiple-dataframes.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Plotting with Multiple DataFrames</a>
            </li>
            <li><a href="../03-plot/03-05-distributions.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Plotting Distributions</a>
            </li>
            <li><a href="../03-plot/03-06-part-to-whole-comparison.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Plotting Part to Whole Comparisons</a>
            </li>
            <li><a href="../03-plot/03-07-relations-between-vars.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Plotting Relationships Between Variables</a>
            </li>
            <li><a href="../03-plot/03-08-change-time.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Plotting Change Through Time</a>
            </li>
            <li><a href="../03-plot/03-10-values-between-groups.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Values Between Groups</a>
            </li>
            <li><a href="../03-plot/03-11-mapping.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Geographic Mapping</a>
            </li>
            <li><a href="../03-plot/03-12-annotations.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Annotations</a>
            </li>
            <li><a href="../03-plot/03-13-phylogenetic-trees.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Phylogenetic Trees</a>
            </li>
        </ol>
    </li>
    <li><a href="../04-landingpage.html" onclick="w3_close()" 
        class="w3-bar-item w3-button" 
        style="color:black;font-size:calc(16px + 0.7vw);">Intro to Statistics</a>
        <ol>
            <li><a href="../04-stats1/04-00-introduction.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Introduction</a>
            </li>
            <li><a href="../04-stats1/04-01-probability-101.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Probability 101</a>
            </li>
            <li><a href="../04-stats1/04-02-likelihood.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Likelihood</a>
            </li>
            <li><a href="../04-stats1/04-03-sampling-distributions.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Sampling Distributions</a>
            </li>
            <li><a href="../04-stats1/04-04-hypothesis-testing.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Hypothesis Testings</a>
            </li>
            <li><a href="../04-stats1/04-05-confidence-intervals.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Confidence Intervals</a>
            </li>
            <li><a href="../04-stats1/04-06-comparing-sample-means.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Comparing Sample Means (T-tests)</a>
            </li>
            <li><a href="../04-stats1/04-07-analysis-of-variance.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Analysis of Variance (ANOVAs)</a>
            </li>
            <li><a href="../04-stats1/04-08-linear-regression.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Linear Regression</a>
            </li>
            <li><a href="../04-stats1/04-09-logistic-regression.html" onclick="w3_close()" 
                class="w3-bar-item w3-button" 
                style="color:grey;font-weight:bold;font-size:calc(14px + 0.6vw);">
                Logistic Regression</a>
            </li>
        </ol>
    </li>
  </ol>
</nav>

</body>
</html>