<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <link rel="stylesheet" href="../highlight/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.css" integrity="sha384-zB1R0rpPzHqg7Kpt0Aljp8JPLqbXI3bhnPWROx27a9N0Ll6ZP/+DiW/UqRcLbRjq" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/katex.min.js" integrity="sha384-y23I5Q6l+B6vatafAwxRu/0oK/79VlbSz7Q9aiSZUvyWYIYsd+qj+o24G5ZU2zJz" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.11.1/dist/contrib/auto-render.min.js" integrity="sha384-kWPLUVMOks5AQFrykwIup5lo0m3iMkkHrD0uJ4H5cjeGihAutqP0yW0J6dpFiVkI" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>
    <script src="../highlight/highlight.js"></script>
    <script src="../functions.js"></script>
    <script>hljs.highlightAll();</script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous">
    </script>
    <script> 
    $(function(){
    $("#header").load("../common/head.html"); 
    });
    </script> 
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
    </script>  
</head>
<body>
  <!--Add in the header-->
  <div id="header"></div>
<main style = margin-top:100px>
    <nav class="section-nav">
        <ol>
          <li><a href="#factors">Intro to Factors</a></li>
          <li><a href="#relevel">Re-leveling & Re-ordering</a></li>
          <li><a href="#recode">Re-coding</a></li>
          <li><a href="#relevel-pos">Re-leveling by Position</a></li>
          <li><a href="#relevel-func">Re-leveling by Function</a></li>
        </ol>
      </nav>
    <div>
    <section id="factors">
        <h2>Introduction to Factors</h2>
        <!--begin.rcode echo=FALSE
        options(tidyverse.quiet = TRUE)
        end.rcode-->
        <p>
            Factors are an important special data type in R, though they can be frustrating to work with. They can be thought of as "categorical" variables, in the sense that they can only take on a limited number of values. R uses a vector of integer values to store a factor, with a corresponding set of character values that are displayed while using the factor.
            <br><br>
            They are most commonly used to group numerical variables, and therefore commonly come into play when working with regression-related topics that require variables to be categorical For example, n an experiment we may classify the amount of water plants in different treatments get as "low", "medium", and "high", and so we could consider the treatment as a factor. An example might be the site at which some data were collected. In a study where there are only six sites, it might be the case that we need to use a <em>random effect</em> to control for variation between sites. In that scenario, it would be helpful to treat the variable <strong>Site</strong> as a factor in R. 
            <br><br>
            We can make factors easily from any other type of variable. Take the following example dataset with three variables, one each of numeric, logical, and character types. This is useful because often when we have a dataset, we may do multiple things with that dataset, not all of which might require a factor. Therefore, it's helpful to be able to move bath and forth between factors and other data types. Let's use a contrived example to illustrate this:
            </p>
            <!--begin.rcode
            df <- data.frame(
            num_ex = sample(c(1,2,3,4), replace = TRUE, 50),
            log_ex = sample(c(TRUE, FALSE), replace = TRUE, 50),
            chr_ex = sample(c("hehe", "haha"), replace = TRUE, 50)
            )
            str(df)
            end.rcode-->
            <p>
            We can make each of these into factors. <strong>Note</strong> that when working with factors in the context of columns in a dataframe (via the Tidyverse), it is most effective to make new columns replacing the old column with the <code>mutate()</code> function <a href="./02-05-new-columns.html">See section on making new columns</a>. 
            <br><br>
            We'll mutate each of these columns into factors:
            </p>
            <!--begin.rcode
            library(tidyverse)

            df_fac <- df %>% 
            dplyr::mutate(
                num_ex = as.factor(num_ex),
                log_ex = as.factor(log_ex),
                chr_ex = as.factor(chr_ex)
            )
            str(df_fac)
            end.rcode-->
            <p>
            We can now see we only have columns that have the type <code>factor</code>. If we wanted to keep a version of the column that holds its original type, we could make new columns, as such: 
            </p>
            <!--begin.rcode
            df_both <- df %>% 
            dplyr::mutate(
                num_ex_fac = as.factor(num_ex),
                log_ex_fac = as.factor(log_ex),
                chr_ex_fac = as.factor(chr_ex)
            )
            str(df_both)
            end.rcode-->
            <p>
            There are now 6 columns in our dataframe as we wished. 
        </p>
    </section>
    <section id="relevel">
        <h3>Re-ordering/Re-leveling Factors</h3>
        <p>
            When working with factors, we often find ourselves needing to "re-level" these variables. Since the order of factors matters, and there are often specific reasons we may want to re-name each occurence of one or more level in the factor, re-leveling is common. 
            <br><br>
            If we have a variable that takes the form of a factor, we can change the order of that variable relatively easily. This is useful if we are, for example, plotting the factor and want the x-axis of our plot to appear in alphabetical order. Here is an example:
            <br><br>
            Say we have a dataframe: 
            </p>
            <!--begin.rcode
            group <- sample(c("First", "Second", "Third", "Fourth"), 500, replace = TRUE)
            vals <- rnorm(500, mean = 10, sd = 2)
            df <- data.frame(group = as.factor(group), vals)
            end.rcode-->
            <p>
            We can look at the levels of our factor (the <code>group</code> variable) with the function <code>levels()</code> from base R:
            </p>
            <!--begin.rcode
            levels(df$group)
            end.rcode-->
            <p>
            We can see here that the order is not in numerically logical order. Does that matter? Well if we plot those data, we can see it looks like this: 
            </p>
            <!--begin.rcode
            library(ggthemes)
            ggplot(data = df) +
            geom_violin(aes(x = group, y = vals, fill = group)) +
            theme_base() +
            labs(x = "Order of Sample", y = "Data Values") +
            scale_fill_manual("Group", values = c("#332288", "#88CCEE",
                                                    "#44AA99", "#117733"))
            end.rcode-->
            <p>
            Now this is a nice plot, but it doesn't really make sense that on the x-axis, the order doesn't correspond to a logical numeric order. This is easily remedied with the <code>forcats</code> package from the Tidyverse. We can <em>re-order</em>, or in R-speak <em>re-level</em> the factor, and then R will know what order we want when we use it for any further plotting or other activities. 
            </p>
            <!--begin.rcode
            library(forcats)
            df <- df %>% 
            dplyr::mutate(
                group = forcats::fct_relevel(group, c("First", "Second", "Third", "Fourth"))
            )
            # now we can use the base R function `levels()` to check if the order is what
            # we want it to be
            levels(df$group)
            end.rcode-->
            <p>
            And we can see that the order is what we want. So that if we were to make the same plot again...
            </p>
            <!--begin.rcode
            ggplot(data = df) +
            geom_violin(aes(x = group, y = vals, fill = group)) +
            theme_base() +
            labs(x = "Order of Sample", y = "Data Values") +
            scale_fill_manual("Group", values = c("#332288", "#88CCEE",
                                                    "#44AA99", "#117733"))
            end.rcode-->
            <p>
            The x-axis and the legend are now in a logical numeric order. 
        </p>
    </section>
    <section id="recode">
        <p>
            Another common operation is deciding that we actually don't want a level of our factor to read the same way anymore, that is we want to replace it with something else. We may have a dataframe, with a factor column called <code>group</code>:
            </p>
            <!--begin.rcode
            group <- factor(sample(c("4", "5", "Six", "7"), size = 500, replace = TRUE))
            vals <- rnorm(500, mean = 2, sd = 2.5)
            df <- data.frame(group, vals)
            # let's look at the levels of our `group` column
            levels(df$group)
            end.rcode-->
            <p>
            We can see that for some reason here we have the "6" replaced by the written out version of the word. This will make the order not logical, and may cause problems if for some reason we wanted this variable to be numeric at some point (<strong>Remember, you can make a character value into a numeric value</strong>). 
            <br><br>
            To replace this value in our column, we can use the <code>recode()</code> function from <code>dplyr</code>. It is most consistent to do this within a <code>mutate()</code>. 
            </p>
            <!--begin.rcode
            df <- df %>% 
            dplyr::mutate(
                group = recode(
                # first argument is the data object
                group, 
                # next argument is the level we want to replace
                "Six" = "6")
            )
            end.rcode-->
            <p>
            We can check if it worked with:
            </p>
            <!--begin.rcode
            levels(df$group)
            end.rcode-->
            <p>
            So this worked! However the order is still off because these are characters, so R can't tell that they're numbers that can be ordered. We could reorder the factor with our approach we took above:
            </p>
            <!--begin.rcode
            df <- df %>% 
            dplyr::mutate(
                group = forcats::fct_relevel(group, c("4", "5", "6", "7"))
            )
            levels(df$group)
            end.rcode-->
            <p>
            The order is now correct. 
        </p>
    </section>
    <section id="relevel-pos">
        <h3>Re-leveling According to a Position</h3>
        <p>
            From here, we can imagine a scenario where we want to put a specific level in a particular position in the list. For example, let's say we have a new variable, <code>group2</code>, with values as follows:
            </p>
            <!--begin.rcode
            df$group2 <- factor(sample(c("first", "second", "last"), size = 500, 
                                replace = TRUE))

            # show the levels
            levels(df$group2)
            end.rcode-->
            <p>
            We may want the "last" level to be last in the order. We can do that with <code>fct_relevel</code> and the <code>after =</code> argument as follows:
            </p>
            <!--begin.rcode
            df <- df %>% 
            dplyr::mutate(
                # specifying which factor level we want ("last") and the position 
                # (`after = `) will determine where the factor gets put. `after = Inf` puts
                # that level at the end
                group2 = forcats::fct_relevel(group2, "last", after = Inf)
            )

            # double check
            levels(df$group2)
            end.rcode-->
            <p>
            And this gives us the expected result. 
        </p>
    </section>
    <section id="relevel-func">
        <h3>Re-leveling According to a Function</h3>
        <p style="text-align: center; font-size:150%; color:crimson">
            Content coming soon!!
        </p>
    </section>
<!-- End page content -->
<hr>
<p style="font-size:10px;color:gray;text-align:center">
    <br>
    <br>
    The EEB R Manual is the work of researchers at the University of the Toronto
     and intended as a purely educational resource. It holds no official 
    association with the R Foundation. It should not be taken as an
     authority on R best practices. 
    <br>
    When using this resource, <bold>always</bold> default to instructions and 
    guidance provided by your instructor. 
    <br>
    This content is reviewed regularly for errors and to make improvements, if you see an error and want to help us make this better, see the Contact Page
</p>
</div>
</main>
</body>
</html>